@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand-light';
    src: url("../fonts/Quicksand/Quicksand-Light.ttf");
    src: url("../fonts/Quicksand/Quicksand-Light.ttf?#iefix") format("embedded-opentype"),url("../fonts/Quicksand/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Quicksand';
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf?#iefix") format("embedded-opentype"), url("../fonts/Quicksand/Quicksand-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Quicksand-bold';
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
    src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand/Quicksand-Bold.ttf?#iefix") format("embedded-opentype"),url("../fonts/Quicksand/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

html,
body {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative
}