#pkglist h2 {
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
  margin-bottom:1em;
}
#pkglist b,
strong {
  font-weight: bolder;
}
#pkglist .btn {
  font-size: 14px;
  outline: none;
  padding: 0.625rem 1rem;
  min-width: 120px;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#pkglist .card-footer {
  background-color: "#fff" !important;
}

#pkglist .card {
  padding: 0px;
}

#pkglist .card-title {
  padding-bottom: 20px;
}
