#fxRateWidget,
#fxRateWidget iframe {
  width: 100% !important;
}
.tradingview-widget-copyright {
  font-size: 13px !important;
  line-height: 32px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu,
    sans-serif !important;
  color: #9db2bd !important;
}
.tradingview-widget-copyright .blue-text {
  color: #2962ff !important;
}
.tradingview-widget-copyright a {
  text-decoration: none !important;
  color: #9db2bd !important;
}
.tradingview-widget-copyright a:visited {
  color: #9db2bd !important;
}
.tradingview-widget-copyright a:hover .blue-text {
  color: #1e53e5 !important;
}
.tradingview-widget-copyright a:active .blue-text {
  color: #1848cc !important;
}
.tradingview-widget-copyright a:visited .blue-text {
  color: #2962ff !important;
}

#tradeBtn input {
  color: #fff;
  background-color: #07be6e;
  border-color: #07be6e;
  font-size: 14px;
  outline: none;
  margin:1em 0;
  min-width: 120px;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#tradeBtn input.btn-danger {
  background-color: #f9423c !important;
  border-color: #f9423c !important;
}
#tradeBtn input.btn-danger:hover {
  background-color: #ce2722 !important;
  border-color: #ce2722 !important;
}
#tradeBtn input.btn-success:hover {
  background-color: #09a561;
  border-color: #09a561;
}
