#tradingWidgetWrapper #fxRateWidget, #tradingWidgetWrapper #fxRateWidget iframe{
  width:100% !important;
}
.tradingview-widget-copyright {
  font-size: 13px !important;
  line-height: 32px !important;
  text-align: center !important;
  vertical-align: middle !important;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu,
    sans-serif !important;
  color: #9db2bd !important;
}
.tradingview-widget-copyright .blue-text {
  color: #2962ff !important;
}
.tradingview-widget-copyright a {
  text-decoration: none !important;
  color: #9db2bd !important;
}
.tradingview-widget-copyright a:visited {
  color: #9db2bd !important;
}
.tradingview-widget-copyright a:hover .blue-text {
  color: #1e53e5 !important;
}
.tradingview-widget-copyright a:active .blue-text {
  color: #1848cc !important;
}
.tradingview-widget-copyright a:visited .blue-text {
  color: #2962ff !important;
}
